.villain {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    border: 2px solid #000;
    margin: 10px;
}

.villain h2 {
    font-family: Verdana;
    color: red;
    font-weight: bold;
    font-style: italic;
    font-size: 38px;

}

.button button {
    display: inline-block;
    margin-top: 0%;
    background: rgb(0, 0, 0);
    font-family: Verdana, sans-serif;
    font-weight: bold;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    font-size: 1em;
    padding: 10px;

    text-align: center;
}

#header {
    margin: 0;
    padding: 0;
}

#header h1 {
    text-align: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 70px;
    color: rgb(255, 255, 255);
    background: red;
    margin: 0;
    padding: 0;
    font-weight: 100;
    text-align: center;
}